:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --main-page-font-weight: 400;
    --card-title-font-weight: 700;
    --title-page-weight: 700;
    --main-card-size: 1.125rem;
    --theme-color: #000;
    --heart-contour: var(--theme-color);
    --animation-fill-color: #FF0000;
    --background-color: #fff;
    --shadow-color: #fff;
    --body-gradient: 
        repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}
